<footer>
	<p id="pcarte">Carte du village</p>
	<div id="foot">
		<div id="contact">
			<p class="pcontact">
				<i class="fa-solid fa-phone"></i>03 21 86 81 93</p>
			<p class="pcontact">
				<i class="fa-solid fa-envelope"></i>commune-le-quesnoy-en-artois@wanadoo.fr</p>
			<p class="pcontact">
				<i class="fa-solid fa-location-dot"></i>2 Pl. de l'Église, 62140      Le Quesnoy-en-Artois</p>
			<p id="pcontact2">
				<i class="fa-solid fa-calendar-days"></i>Le lundi de 10h à 12h      Le vendredi de 15h à 19h</p>
		</div>
		<div id="carte">
			<iframe width="370" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=370&amp;height=250&amp;hl=en&amp;q=%20Le%20quesnoy%20en%20artois+()&amp;t=p&amp;z=11&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
		</div>
		<div>
			<img class="logo1" style="width: 135px" src="{{ asset('assets/static/image/Logo.png') }}" alt="Logo1">
			<img style="width: 100px" src="{{ asset('assets/static/image/Blason.png') }}" alt="Logo2" class="logo2">
		</div>
	</div>
	<p id="rgpd">Mentions légales - Politique des cookies</p>
</footer>
