{% extends 'base.html.twig' %}

{% block title %}Mr le Maire{% endblock %}

{% block body %}
    <section id="secMaire">
        <img id="Maireimg" src="{{ asset('assets/static/image/Maire.jpg') }}" alt="Mrlemaire">
        <div class="décoration"></div>
        <h1 id="h1Maire">Mr le Maire Georges Boulenger</h1>
    </section>
    <section id="infosMaire">
        <p class="pTitreMaire">Maire de Le Quesnoy en Artois</p>
        <p class="pMaire">Élue Maire de Le Quesnoy  le 23 mars 2014, réélu le 18 mai 2020</p>
        <p class="pTitreMaire">Né le :</p>
        <p>04 juillet 1972</p>
        <p class="pTitreMaire">Conseiller.ère.s :</p>
        <p class="pMaire">Laurence BUIGNET : fonction</p>
        <p class="pMaire">Xavier CHOQUET : fonction</p>
        <p class="pMaire">Séverine CREPY : fonction</p>
        <p class="pMaire">Benoit ETIENNE : fonction</p>
        <p class="pMaire">Luc GEIGER : fonction</p>
        <p class="pMaire">Anne-Philippe LEFEBVRE : fonction</p>
        <p class="pMaire">Gilbert PIHET : fonction</p>
        <p class="pMaire">Arnaud ROUSSEL : fonction</p>
        <p class="pMaire">Jean-Marc THIBAUT : fonction</p>
        <p class="pMaire">Claude TOUPET : fonction</p>
        <p class="pTitreMaire">Le mot du maire : </p>
        <p class="pMaire">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quam nulla odio nobis dicta dignissimos mollitia est aliquam
            voluptates quas similique! Illo modi at accusantium nobis numquam,
            rem rerum eligendi praesentium?
        </p>
    </section>
{% endblock %}