{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <h1 id="h1AllActus">Toutes les Actualités</h1>
    <section id="allActus">
        {% for new in news %}
        <div class="card">
            <img id="imgAllActus" src="{{asset('assets/static/image/uploads/' ~ new.picture)}}" class="card-img-top" alt="{{ new.title }}">
            <div class="card-body">
            <h5 class="card-title">{{ new.title }}</h5>
            <p class="card-text">{{ new.description }}</p>
        </div>
  </div>
{% endfor %}
    </section>
{% endblock %}
