{% extends 'base.html.twig' %}

{% block title %}Documents à conserver{% endblock %}

{% block body %}
    <section id="secconservation">
        <img id="conservationimg" src="{{ asset('assets/static/image/conservation.jpg') }}" alt="Documents à conserver">
        <div class="décoration"></div>
        <h1 id="h1conservation">Documents à conserver</h1>
    </section>
    <section id="infosconservation">
        <p class="pTitreconservation">Toute la vie :</p>
        <li class="pconservation">Livret de famille</li>
        <li class="pconservation">livret militaire et pièces le complétant</li>
        <li class="pconservation">les diplômes universitaires</li>
        <li class="pconservation">le contrat de mariage</li>
        <li class="pconservation">les titres de propriété</li>
        <li class="pconservation">les factures des travaux ou les réparations d'un certain montant</li>
        <li class="pconservation">les testaments</li>
        <li class="pconservation">les livrets d'épargne</li>
        <li class="pconservation">les engagements de location ou les baux</li>
        <li class="pconservation">les polices d'assurance et les preuves de leur résiliation et tout ce qui concerne les pensions</li>
        <li class="pconservation">la retraite et les dossiers importants</li>
        <p class="pTitreconservation">30 ans :</p>
        <li class="pconservation">Les quittances et pièces justificatives de paiement de toutes les indemnités en réparation d'un dommage</li>
        <p class="pTitreconservation">10 ans :</p>
        <li class="pconservation">les quittances de loyer et de fermage</li>
        <li class="pconservation">les pièces justificatives de paiement</li>
        <li class="pconservation">les intérêts de toutes sommes dues en vertu d'un prêt</li>
        <li class="pconservation">les arriérés de rentes</li>
        <li class="pconservation">les pensions alimentaires</li>
        <li class="pconservation">les cotisations de Sécurité Sociale et d'Allocations Familiales et les doubles des bulletins de paie de vos employés émargés par eux</li>
        <p class="pTitreconservation">2 ans :</p>
        <li class="pconservation">les quittances de primes d'assurances</li>
        <p class="pTitreconservation">1 ans :</p>
        <li class="pconservation">les certificats de ramonage et les factures de transporteurs, la preuve de leur paiement et le récépissé de transport</li>
        <p class="pTitreconservation">6 mois :</p>
        <li class="pconservation">Les notes d'hôtel, de restaurant et de pension et la justification de leur règlement</li>
        <p class="pTitreconservation">Documents à conserver sur soi :</p>
        <li class="pconservation">carte d'identité</li>
        <li class="pconservation">permis de conduire</li>
        <li class="pconservation">carte de groupe sanguin</li>
        <li class="pconservation">carte de Sécurité Sociale et éventuellement de mutuelle</li>
        <p class="pTitreconservation">La durée de conservation des documents ci-dessous n'est pas fixée</p>
        <li class="pconservation">Les bulletins de salaire (jusqu'à la liquidation de la retraite)</li>
        <li class="pconservation">les contrats de travail et louage de service (pendant toute la durée du contrat et 2 ans après sa résiliation)</li>
        <li class="pconservation">les bons de garantie (pendant toute la durée de celle-ci)</li>
        <li class="pconservation">les devis (jusqu'à établissement de la facture) et les souches de carnets de chèques bancaires et postaux</li>
        <li class="pconservation">les talons de mandats et des virements</li>
        <li class="pconservation">les reçus et quittances (ainsi que les factures auxquelles elles se rapportent)</li>
    </section>

{% endblock %}