{% extends 'base.html.twig' %}

{% block title %}Mariage{% endblock %}

{% block body %}
    <section id="secmariage">
        <img id="mariageimg" src="{{ asset('assets/static/image/mariage.jfif') }}" alt="Mariage">
        <div class="décoration"></div>
        <h1 id="h1mariage">Mariage</h1>
    </section>
    <section id="infosmariage">
        <p class="pmariage">Le mariage est "l'union d'un homme et d'une femme, contractée selon des formes légales".</p>
        <p class="pmariage">Le mariage civil, institué par le Révolution Française, est le seul mariage légalement reconnu.</p>
        <p class="pmariage">Il est célébré dans la commune où l'un des deux époux a son domicile ou sa résidence établie par un mois au moins d'habitation continue à la date de la publication prévue par la loi.</p>
        <p class="pmariage">Les mariages sont célébrés à l'Hôtel de Ville, dans une salle spécialement aménagée. Le jour de la cérémonie est laissé au choix des futurs époux (sauf dimanche et jours fériés légaux). L'heure de la cérémonie est fixée par l'Officier de l'Etat Civil, après entente avec les futurs conjoints.</p>
        <p class="pTitremariage">Qui peut se marier ?</p>
        <p class="pTitremariage">Toute personne, à condition :</p>
        <li class="pmariage">d'avoir l'âge requis (18 ans pour les hommes et 18 ans pour les femmes); une dispense d'âge légal peut être demandée auprès du Procureur de la République.</li>
        <li class="pmariage">d'être célibataire, veuf(ve) ou divorcé(e).</li>
        <li class="pmariage">de ne pas avoir de lien de parenté (ascendants ou descendants en lien direct ou collatéraux).</li>
        <p class="pTitremariage">Formalités</p>
        <p class="pmariage">Pour préparer votre mariage, vous devez vous rendre au service de l'état civil de la Mairie. L'Officier de l'Etat Civil vous indiquera les démarches à suivre et les documents à fournir. Ces documents varieront suivant le cas (né en France ou à l'étranger, que vous ayez des enfants ou pas, etc...).</p>
        </section>

{% endblock %}