{% extends 'base.html.twig' %}

{% block title %}Passeport{% endblock %}

{% block body %}
    <section id="secpasseport">
        <img id="passeportimg" src="{{ asset('assets/static/image/passeport.png') }}" alt="Passeport">
        <div class="décoration"></div>
        <h1 id="h1passeport">Passeport</h1>
    </section>
    <section id="infospasseport">
        <p class="ppasseport">Le passeport est avant tout un document de voyage. Il peut aussi servir de pièce d'identité. Il est exigé pour entrer dans la plupart des pays étrangers.</p>
        <p class="ppasseport">Même périmé (depuis moins de deux ans), il peut permettre de se rendre dans certains pays. Vous pouvez vous faire établir un passeport si vous êtes de nationalité française.</p>
        <p class="ppasseport">Pour l'établissement ou le retrait d'un Passeport, le demandeur doit se présenter personnellement en Mairie.</p>
        <p class="ppasseport">Le nouveau passeport biométrique est en service depuis le vendredi 27 mars 2009 dans le département du Pas-de-Calais.</p>
        <p class="ppasseport">Ce nouveau passeport vient s'inscrire dans un processus de sécurisation des documents d'identité. Il comporte, outre les données présentes dans les passeports actuellement en circulation, la photo numérisée du titulaire et deux de ses empreintes digitales. La présence des empreintes dans la puce du passeport constitue une sécurisation essentielle de ce titre de voyage : elle garantit en effet le lien entre ce document et la personne qui le présente, et permet de lutter plus efficacement contre les usurpations d'identité.</p>
        <p class="ppasseport">La technicité accrue de ces nouveaux passeports fait qu'ils ne peuvent plus être délivrés dans toutes les mairies. Les modalités de dépôt des demandes de passeport sont donc modifiées depuis le 27 mars 2009. Désormais les usagers déposeront leur dossier dans l'une des 27 communes où sont implantés les dispositifs de recueil des données biométriques.</p>
        <p class="ppasseport">Le choix de ces communes a été effectué, après avoir recueilli l'avis de l'Association départementale des maires, en prenant en compte le nombre de titres délivrés mais également en recherchant une répartition équilibrée sur l'ensemble du département afin d'offrir aux usagers un service de qualité tout en limitant leurs déplacements.</p>
        <p class="pTitrepasseport">Les habitants du Pas-de-Calais doivent donc déposer leurs demandes de passeports, à leur libre choix, dans l'une des communes suivantes :</p>
        <p class="ppasseport">Aire-sur-la-Lys, Ardres, Arras, Auchel, Bapaume, Berck-sur-Mer, Béthune, Boulogne-sur-Mer, Bruay-la-Buissière, Calais, Carvin, Desvres, Etaples, Fauquembergues, Frévent, Harnes, Hénin-Beaumont, <span class="pTitrepasseport">Hesdin</span>, Lens, Liévin, Marquise, Montreuil-sur-Mer, Nœux-les-Mines, Saint-Laurent-Blangy, Saint-Omer, Saint-Pol-sur-Ternoise, Wingles.</p>
        <p class="ppasseport">Les communes n'ayant pas de dispositif de recueil des données biométriques ne peuvent donc plus recueillir de dossiers et doivent diriger les usagers vers une des communes précitées.</p>
        <p class="ppasseport">Les passeports électroniques délivrés antérieurement restent valables, sans restriction, jusqu'à leur date de fin de validité.</p>
        <p class="ppasseport">En ce qui concerne les Cartes Nationales d'Identité (CNI), les demandes continuent à être déposées dans chaque mairie.</p>
        <p class="pTitrepasseport">Nouveau passeport d'urgence</p>
        <p class="ppasseport">Un nouveau livret de passeport d'urgence va également être mis en place le 27 mars 2009.</p>
        <p class="ppasseport">Ce nouveau passeport, de couleur verte, sera délivré à titre exceptionnel et pour un motif d'urgence. Le demandeur devra être en mesure de justifier d'un déplacement urgent, notamment pour des raisons familiales (maladie grave ou décès d'un membre de la famille) ou professionnelles particulières.</p>
        <p class="pTitrepasseport">Les documents à fournir pour les personnes majeures et les mineurs émancipés.</p>
        <li class="ppasseport">une copie intégrale de votre acte de naissance en original (en faire la demande à votre mairie de naissance, par courrier ou par messagerie)</li>
        <p class="ppasseport">Nota : le livret de famille personnel ou celui des parents n'est plus accepté pour justifier de son état civil</p>
        <li class="ppasseport">2 photographies d'identité récentes de format de 3,5 x 4,5 cm identiques et parfaitement ressemblantes, de face, et tête nue, sur fond clair, neutre, uni et en couleur</li>
        <li class="ppasseport">la preuve de la nationalité française (document à produire en original)</li>
        <li class="ppasseport">1 justificatif de votre domicile, à vos nom et prénom (en original) : si vous n'avez pas de domicile personnel consultez votre mairie ou votre préfecture</li>
        <li class="ppasseport">des timbres fiscaux pour un montant de 88 euros pour les adultes, de 44 euros pour les enfants de 15 à 18 ans, 19 € pour les enfants de moins de 15 ans</li>
        <li class="ppasseport">un document officiel avec photo vous permettant de justifier de votre identité (carte nationale d'identité, carte d'identité professionnelle délivrée par une administration publique , permis de conduire, permis de chasser, etc.…)</li>
        <li class="ppasseport">le formulaire de demande rempli et signé</li>
        <p class="ppasseport">Lors de la remise de votre nouveau passeport vous devrez restituer l'ancien sauf s'il comporte un ou des visas toujours valides</p>
        <p class="pTitrepasseport">Les documents à fournir pour les personnes mineures</p>
        <p class="ppasseport">Sauf pour se rendre ou transiter aux Etats-Unis, les inscriptions d'enfants qui figurent d'ores et déjà sur les passeports des parents, demeurent valables sous réserve que l'enfant soit âgé de moins de 15 ans.</p>
        <p class="ppasseport">Désormais, les enfants ne pourront plus être inscrits sur le passeport des parents.</p>
        <p class="ppasseport">Un mineur, quel que soit son âge, doit désormais posséder un passeport, dont la validité est de 5 ans.</p>
        <p class="ppasseport">La demande doit être présentée par une personne exerçant l'autorité parentale.</p>
        <li class="ppasseport">une copie intégrale de votre acte de naissance en original (en faire la demande à votre mairie de naissance, par courrier ou par messagerie) ;</li>
        <p class="pTitrepasseport">ATTENTION :</p>
        <p class="ppasseport">le livret de famille personnel ou celui des parents n'est plus accepté pour justifier de son état civil</p>
        <li class="ppasseport">2 photographies d'identité récentes de format de 3,5 x 4,5 cm identiques et parfaitement ressemblantes, de face, et tête nue, sur fond clair, neutre et uni</li>
        <li class="ppasseport">la preuve de la nationalité française (document à produire en original)</li>
        <li class="ppasseport">1 justificatif récent du domicile du représentant légal (en original)</li>
        <li class="ppasseport">des timbres fiscaux pour le montant fixé 60 € ou gratuit</li>
        <li class="ppasseport">le formulaire de demande rempli et signé par le représentant légal. Lors de la remise de votre nouveau passeport vous devrez restituer l'ancien sauf s'il comporte un ou des visas toujours valides.</li>
        <li class="ppasseport">selon les cas, le jugement de divorce fixant les conditions d'exercice de l'autorité parentale sur le mineur, la déclaration conjointe de l'exercice de l'autorité parentale, le jugement de tutelle, l'ordonnance du juge aux affaires familiales fixant les conditions d'exercice de l'autorité parentale</li>
        <li class="ppasseport">une pièce d'identité du représentant légal</li>
        <li class="ppasseport">le cas échéant une pièce d'identité du mineur.</li>
        <p class="ppasseport">Le passeport d'un mineur est remis en présence de son représentant légal</p>
        <p class="ppasseport">A partir de 13 ans, le passeport doit être signé par son titulaire.</p>
        <p class="ppasseport">Lors de la remise du nouveau passeport, l'ancien passeport de l'enfant devra être restitué sauf s'il comporte un ou des visas toujours valides</p>
        <p class="pTitrepasseport">Remarques particulières :</p>
        <p class="pTitrepasseport">Afin de faciliter la prise automatique des empreintes digitales :</p>
        <li class="ppasseport">veillez à avoir les mains propres, exemptes de produit particulier (vernis, peinture, ciment, etc.)</li>
        <li class="ppasseport">éviter les jours précédant la prise des empreintes les travaux qui attaquent la peau (ciment, lessivage, frottement des mains, etc.)</li>
        <p class="ppasseport">Le passeport se récupère à la mairie où les formalités ont été exécutées et ce, par la personne titulaire du passeport.</p>
        <p class="pTitrepasseport">Durée de l'enregistrement des empreintes : <span class="ppasseport">il faut compter environ 20 minutes.</span></p>
        <p class="pTitrepasseport">La durée de validité du passeport électronique</p>
        <li class="ppasseport">10 ans pour les passeports délivrés à une personne majeure</li>
        <li class="ppasseport">5 ans pour les passeports délivrés à une personne mineure quel que soit son âge.</li>
        <p class="ppasseport"><span class="pTitrepasseport">Suivi de votre demande de passeport : ATTENTION </span> le numéro de demande de passeport de 10 caractères qui vous a été délivré lors du dépôt de votre demande, est nécessaire.</p>



    </section>

{% endblock %}