{% extends 'base.html.twig' %}

{% block title %}Recenssement{% endblock %}

{% block body %}
    <section id="secrecenssement">
        <img id="recenssementimg" src="{{ asset('assets/static/image/recensement.jpg') }}" alt="Recenssement">
        <div class="décoration"></div>
        <h1 id="h1recenssement">Recensement</h1>
    </section>
    <section id="infosrecenssement">
        <p class="precenssement">Le recensement permet de mieux connaître la population résidant en France. Il fournit des statistiques sur le nombre de logements, le nombre d'habitants et sur leurs caractéristiques (âge, profession exercée, conditions de logement, modes de transport, déplacements quotidiens, etc.).</p>
        <p class="precenssement">Le recensement est une photographie régulière des territoires qui reflète fidèlement les réalités. La succession des recensements permet de mesurer les évolutions démographiques et les mutations, facilitant ainsi la mise en œuvre des politiques prospectives de gestion. Il décompte les populations légales de chaque circonscription administrative. Près de 200 textes législatifs et réglementaires s'y réfèrent : modalité des élections municipales, répartition de la dotation globale de fonctionnement, …</p>
        <p class="precenssement">Le recensement sert à l'établissement de projets d'intérêt général tels que la construction de crèches, d'écoles, d'équipements culturels et sportifs, etc. Il sert également lors de l'élaboration des schémas directeurs d'aménagement et contrats de plan État-région.</p>
        <p class="precenssement">Pour les acteurs privés, le recensement sert aux projets d'implantations d'entreprises (description de la main-d'œuvre disponible sur place) ou de commerces et services (marché potentiel offert par les habitants, etc.). Par exemple, l'autorisation d'implantation d'une pharmacie dans une commune est liée à la population de la commune.</p>
        <p class="precenssement">En bref, le recensement est une opération d'utilité publique destinée à organiser la vie sociale.</p>
        <p class="precenssement">Pourquoi la méthode a-t-elle changé ?</p>
        <p class="precenssement">Pour mieux tenir compte de chacun de nous, le recensement devient annuel</p>
        <p class="precenssement">Depuis janvier 2004, le recensement de la population résidant en France est annuel. Une nouvelle méthode de recensement remplace le comptage traditionnel organisé tous les huit ou neuf ans. Le recensement général de la population de 1999 aura été le dernier recensement concernant toute la population en même temps.</p>
        <p class="precenssement">Mais tous les habitants ne sont pas recensés la même année.</p>
        <p class="precenssement">Les communes de moins de 10 000 habitants réalisent désormais une enquête de recensement exhaustive tous les cinq ans, à raison d'un cinquième des communes chaque année.</p>
        <p class="precenssement">Les communes de 10 000 habitants ou plus réalisent tous les ans une enquête par sondage auprès d'un échantillon de 8 % environ de leur population. La collecte s'effectue entre janvier et février (jusqu'en mars à La Réunion). Un agent recenseur dépose les questionnaires et les reprend une fois remplis.</p>
        <p class="precenssement">Les acteurs locaux peuvent conduire dans de meilleures conditions leurs politiques économiques et sociales s'ils disposent d'informations régulières et récentes. En effet, les évolutions qui influent sur les mouvements et les caractéristiques de la population s'accélèrent et, dans le même temps, les compétences dévolues aux collectivités locales se multiplient. La rénovation du recensement a donc pour enjeu de mieux adapter l'offre statistique aux attentes des utilisateurs. L'Insee substitue au comptage organisé tous les huit ou neuf ans sur l'ensemble du territoire une nouvelle méthode de collecte qui permet de fournir chaque année des résultats sur la population et les logements.</p>
        <p class="pTitrerecenssement">Les attentes des utilisateurs :</p>
        <p class="precenssement">Une information récente régulièrement actualisée</p>
        <p class="precenssement">Le recensement établit la population légale selon des règles administratives strictes. Le dénombrement est attendu à tous les échelons géographiques, du niveau local, communal et cantonal, au niveau France entière. Les résultats du recensement sont aussi utilisés au niveau local pour des prises de décisions dont la pertinence dépend de la fraîcheur de ces données.</p>
        <p class="precenssement">L'information fournie doit permettre de suivre, sur le moyen terme, les équilibres territoriaux aux niveaux national, régional et local (pays et groupements de communes par exemple). Concrètement, avec le recensement "nouvelle manière", l'élaboration en 1998/1999 des contrats de plan État-région 1999-2006 se serait appuyée sur des données de 1998 pour le cadrage régional et de 1996 pour les zones infra régionales, au lieu de données datant de 1990.</p>
        <p class="precenssement">Enfin, le recensement est une source importante de données statistiques à un niveau fin et son actualisation permettra d'approfondir par exemple des questions relatives au logement ou à l'emploi en fonction de problématiques locales.</p>
        <p class="precenssement">Rendre l'action locale publique ou privée plus efficace</p>
        <p class="precenssement">Rénover le recensement, c'est pour les responsables locaux - élus et cadres territoriaux - le moyen de disposer de photographies régulières de leur territoire reflétant de façon fidèle la réalité. Celles-ci doivent mettre en lumière les évolutions et mutations et faciliter ainsi la mise en œuvre des politiques prospectives de gestion.</p>
        <p class="pTitrerecenssement">Au niveau communal ou départemental, sont concernées :</p>
        <li class="precenssement">les études d'impact de travaux d'infrastructure ou de construction</li>
        <li class="precenssement">l'élaboration des plans de prévention des risques majeurs et la gestion des moyens correspondants</li>
        <li class="precenssement">l'élaboration des plans d'occupation des sols</li>
        <li class="precenssement">les politiques de la ville</li>
        <p class="pTitrerecenssement">A un niveau géographique plus regroupé :</p>
        <li class="precenssement">les schémas directeurs d'aménagement</li>
        <li class="precenssement">les contrats de plan État-région</li>
        <p class="precenssement">Les acteurs privés quant à eux sont intéressés pour leurs projets d'implantation d'entreprises par les compétences locales (description de la main-d'œuvre) et pour les implantations de commerces et services par le marché potentiel offert par les habitants.</p>
        <li class="precenssement">La maîtrise technique de l'opération</li>
        <p class="precenssement">Le caractère plus régulier des enquêtes de recensement, par opposition à l'opération massive et ponctuelle que représentait un recensement général, permettra d'améliorer la qualité des enquêtes. Dans les grandes villes, la technique utilisée repose sur des méthodes statistiques éprouvées qui limiteront les risques de sous-estimation de la population due au non-recensement de certains logements</p>
        <p class="pTitrerecenssement">Les résultats du recensement permettront :</p>
        <li class="precenssement">aux pouvoirs publics d'adapter les équipements collectifs aux évolutions de la société : crèches, hôpitaux, établissements scolaires, équipements sportifs, etc.</li>
        <li class="precenssement">aux professionnels publics et privés de mieux connaître le parc de logements et les besoins de la population</li>
        <li class="precenssement">aux entreprises d'avoir des données précises pour mieux connaître leur clientèle potentielle ou les disponibilités de main-d'œuvre</li>
        <li class="precenssement">aux associations, notamment celles qui œuvrent dans les domaines sanitaire, social, éducatif ou culturel, de mieux agir selon les besoins de la population.</li>
        <p class="pTitrerecenssement">Les autres objectifs fixés à la rénovation :</p>
        <li class="precenssement">permettre d'assurer une collecte de qualité maximale, en particulier par la réduction de la non-réponse, et cela quelle que soit la taille de la zone recensée, pour déterminer la population de chaque commune et ses caractéristiques.</li>
        <li class="precenssement">lisser les charges, tant au niveau de l'Insee que des grandes communes ou des établissements publics de coopération intercommunale. Le recensement devient une opération régulière, plus légère et plus facile à intégrer dans l'activité annuelle des communes de 10 000 habitants ou plus et de l'Insee.</li>
        <p class="pTitrerecenssement">Pourquoi le recensement est-il obligatoire ?</p>
        <p class="precenssement">Un pays a besoin de connaître le nombre d'habitants : c'est une des conditions de fonctionnement de la démocratie. Pour établir le chiffre de la population légale, tout le monde doit être compté. C'est en vertu de la loi de 1951 modifiée sur l'obligation, la coordination et le secret en matière de statistiques que le recensement est obligatoire.</p>
        <p class="precenssement">Au-delà de cette obligation, répondre correctement aux questionnaires du recensement est pour chaque citoyen une occasion de voir les services proposés par sa commune s’améliorer. En effet, le recensement permet de connaître les besoins spécifiques de chaque commune et de récolter les informations nécessaires à leur réalisation</p>
    </section>

{% endblock %}